<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Dialog Id="DatabaseSettingsDlg" Width="370" Height="270" Title="[ProductName] Setup" NoMinimize="yes">
        
        <Control Id="ServerNameLabel" Type="Text" X="56" Y="40" Width="77" Height="15" TabSkip="no" Text="Server name:" />
        <Control Id="ServerNameEdit" Type="Edit" X="135" Y="38" Width="176" Height="15" Property="DB_SERVER"  />
        
        <Control Id="AuthModeLabel" Type="Text" X="56" Y="70" Width="69" Height="15" TabSkip="no" Text="Authentication:" />
        <Control Id="AuthMode" Type="ComboBox" Property="DB_AUTHENTICATIONMODE" X="135" Y="68" Width="176" Height="16" ComboList="yes" Sorted="no" Default="yes">
          <ComboBox Property="DB_AUTHENTICATIONMODE">
            <ListItem Text="Windows Authentication" Value="0" />
            <ListItem Text="SQL Server Authentication" Value="1" />
          </ComboBox>
        </Control>
        
        <Control Id="UserLabel" Type="Text" X="75" Y="101" Width="59" Height="15" TabSkip="no" Text="&amp;Login" />
        <Control Id="UserEdit" Type="Edit" X="158" Y="101" Width="154" Height="15" Property="DB_USER" >
          <Condition Action="disable"><![CDATA[DB_AUTHENTICATIONMODE <> "1"]]></Condition>
          <Condition Action="enable"><![CDATA[DB_AUTHENTICATIONMODE = "1"]]></Condition>
        </Control>
        
        <Control Id="PasswordLabel" Type="Text" X="75" Y="131" Width="53" Height="15" TabSkip="no" Text="&amp;Password" />
        <Control Id="PasswordEdit" Type="Edit" X="158" Y="131" Width="154" Height="15" Property="DB_PASSWORD"  Password="yes">
          <Condition Action="disable"><![CDATA[DB_AUTHENTICATIONMODE <> "1"]]></Condition>
          <Condition Action="enable"><![CDATA[DB_AUTHENTICATIONMODE = "1"]]></Condition>
        </Control>

        <Control Type="PushButton" Id="TestDatabase" Width="98" Height="25" X="139" Y="169" Text="Test Connection" >
          <Publish Event="DoAction" Value="CustomAction_TestConnection" Order="1"><![CDATA[DB_SERVER <> "" AND (DB_AUTHENTICATIONMODE = "0" OR (DB_AUTHENTICATIONMODE = "1" AND DB_USER <> "" AND DB_PASSWORD <> ""))]]></Publish>
          <Publish Property="DB_SERVER_OK" Value="[DB_SERVER_OK]" Order="2">1</Publish>
        </Control>
        
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="Back">
        </Control>
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="Next">
          <Condition Action="disable"><![CDATA[DB_SERVER_OK <> "1"]]></Condition>
          <Condition Action="enable">DB_SERVER_OK = "1"</Condition>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        
      </Dialog>
    </UI>
  </Fragment>
</Wix>