<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>

		<!-- Will default to C:\ if that is the main disk-->
		<Directory Id="TARGETDIR" Name="SourceDir">

			<!-- Default: C:\inetpub\wwwroot-->
			<Directory Id="IISROOT" Name='WebDir'>

				<!-- Default: C:\inetpub\wwwroot\PerformanceDashboard-->
				<Directory Id="INSTALLFOLDER" Name="PerformanceDashboard" />

			</Directory>
			
		</Directory>

		<!-- Installed files -->
		<DirectoryRef Id="INSTALLFOLDER" FileSource="..\PerformanceDashboard\bin\Publish\"/>

	</Fragment>
</Wix>
