<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">
	<Fragment>

    <!-- Properties -->
    <Property Id="IIS_SITE" Value="0">
      <RegistrySearch Id="IIS_SITE_RegistrySearch"
                      Root="HKLM"
                      Key="Software\Hakan Yildizhan\PerformanceDashboard"
                      Name="IIS_SITE"
                      Type="raw"/>
    </Property>

    <Property Id="IIS_PORT" >
      <RegistrySearch Id="IIS_PORT_RegistrySearch"
                      Root="HKLM"
                      Key="Software\Hakan Yildizhan\PerformanceDashboard"
                      Name="IIS_PORT"
                      Type="raw"/>
    </Property>

    <Property Id="IIS_PORT_AVAILABLE" Value="0" />
    
    <Property Id="IIS_SITE_DIRECTORY" >
      <RegistrySearch Id="IIS_SITE_DIRECTORY_RegistrySearch"
                      Root="HKLM"
                      Key="Software\Hakan Yildizhan\PerformanceDashboard"
                      Name="IIS_SITE_DIRECTORY"
                      Type="raw"/>
    </Property>
    
    <!-- Components -->
    <ComponentGroup Id="IISConfiguration" >
      <ComponentRef Id="InstallWebsiteAsVirtualDirectory" />
      <ComponentRef Id="InstallWebsiteAsNewSite" />
      <ComponentRef Id="PerformanceDashboardAppPoolComponent" />
      <ComponentRef Id="IISComponentRegistryEntries" />
    </ComponentGroup>

    <!-- Locator for "Default Web Site" -->
    <iis:WebSite Id="DefaultWebSite"
                 Description="Default Web Site"
                 Directory="INSTALLFOLDER">
      
      <!-- This element has to be here or WiX does not compile. It’s ignored in this case. -->
      <iis:WebAddress Id="AllUnassigned" Port="80" />
    </iis:WebSite>

    <!-- Locator for Web Application definition -->
    <!-- Turns the Virtual Directory into a web application -->
    <iis:WebApplication Id="PerformanceDashboardWebApplication"
                        Name="[PerformanceDashboard][WEBSITE_ID]"
                        WebAppPool="PerformanceDashboardAppPool"/>
    
    <!-- Default: C:\inetpub\wwwroot\PerformanceDashboard-->
    <DirectoryRef Id="INSTALLFOLDER">

      <!-- App Pool for the IIS site -->
      <Component Id="PerformanceDashboardAppPoolComponent" KeyPath="yes" Guid="{21F62309-1C97-46B8-B164-074F9E9929FB}" >

        <iis:WebAppPool Id="PerformanceDashboardAppPool"
                        Name="PerformanceDashboard"
                        Identity="applicationPoolIdentity"
                        ManagedPipelineMode="Integrated"
                        ManagedRuntimeVersion="v4.0" />
      </Component>

      <!-- Site installed as a virtual directory under Default Web Site -->
      <Component Id="InstallWebsiteAsVirtualDirectory" KeyPath="yes" Guid="{962FE541-BF4E-480C-9D9A-527DD19BF7AC}">
        <Condition><![CDATA[IIS_SITE = "0"]]></Condition>

        <!-- The Alias attribute is the name that will be put into IIS -->
        
        <!-- The Directory attribute is the "Physical Path" property in
                  IIS and needs to tie to an ID specified in the setup -->

        <!-- The WebSite attribute ties to the "Default Web Site" defined
             outside any component, in order to find it only -->

        <iis:WebVirtualDir Id="PerformanceDashboardVirtualDirectory"
                           Alias="PerformanceDashboard"
                           Directory="INSTALLFOLDER"
                           WebSite="DefaultWebSite"
                           WebApplication="PerformanceDashboardWebApplication"/>
        
      </Component>

      <!-- IIS site -->
      <Component Id="InstallWebsiteAsNewSite" KeyPath="yes" Guid="{DDC0554D-4B31-40FC-8BA8-F4A44F286756}">
        <Condition><![CDATA[IIS_SITE = "1"]]></Condition>

        <!-- Install to new web site -->
        <iis:WebSite Id="PerformanceDashboardWebsite"
                     Description="PerformanceDashboard" 
                     Directory="INSTALLFOLDER" 
                     WebApplication="PerformanceDashboardWebApplication"
                     AutoStart="yes" 
                     StartOnInstall="yes">

          <!-- TODO: Check if port is being used! -->
          <iis:WebAddress Id="WebsiteAllUnassigned"
                          Port="[IIS_PORT]" 
                          IP="*"  /> 
          
        </iis:WebSite>

      </Component>

      <Component Id="IISComponentRegistryEntries" Guid="{BCFF621E-FEFC-442E-9E12-8040B1D1C27C}">

        <RegistryKey Root="HKLM"
                     Key="Software\Hakan Yildizhan\PerformanceDashboard">
          <RegistryValue Type="string" Name="IIS_SITE" Value="[IIS_SITE]" />
        </RegistryKey>

        <RegistryKey Root="HKLM"
                     Key="Software\Hakan Yildizhan\PerformanceDashboard">
          <RegistryValue Type="string" Name="IIS_PORT" Value="[IIS_PORT]" />
        </RegistryKey>

        <RegistryKey Root="HKLM"
                     Key="Software\Hakan Yildizhan\PerformanceDashboard">
          <RegistryValue Type="string" Name="IIS_SITE_DIRECTORY" Value="[INSTALLFOLDER]" />
        </RegistryKey>

      </Component>

    </DirectoryRef>
    
	</Fragment>
</Wix>
