/* Style the body */ 
body {
    font-family: Arial;
    margin: 0;
}

/* Header/Logo Title */
.header {
    padding: 15px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
}

/* Page Content */ 
.content {
    padding: 1px;
}

div.relative {
    position: relative;
}

div.content {
    left: 80px;
}

div.chart {
    margin-bottom: -90px;
}

div.label {
    vertical-align: middle;
    display: inline-table;
    border: 1px solid #000;
    background-color: #FFFF97;
    vertical-align: -webkit-baseline-middle;
    margin: 20px 0 20px 0;
    padding: 10px 0 10px 0;
}

div.filter {
    margin: 5px 0 5px 0;
    line-height: 30px;
}

fieldset.border {
    width: max-content;
    border-width: 5px !important;
    padding: 0 5px 3px 5px;
}

input#scenarioFilter {
    width:220px;
}

div.table-filters {
    padding: 20px 0 20px 0;
}

table {
    table-layout: fixed;
}

div#curve_chart {
    height: 600px;
}

tr.e:hover {
    background-color: #FCFCBA;
}