IF NOT EXISTS(SELECT 1 FROM sys.databases WHERE name='PerformanceDashboard')
    CREATE DATABASE [PerformanceDashboard]
GO
USE [PerformanceDashboard]

DECLARE @CurrentMigration [nvarchar](max)

IF object_id('[dbo].[__MigrationHistory]') IS NOT NULL
    SELECT @CurrentMigration =
        (SELECT TOP (1) 
        [Project1].[MigrationId] AS [MigrationId]
        FROM ( SELECT 
        [Extent1].[MigrationId] AS [MigrationId]
        FROM [dbo].[__MigrationHistory] AS [Extent1]
        WHERE [Extent1].[ContextKey] = N'PerformanceDashboard.Entity.Migrations.Configuration'
        )  AS [Project1]
        ORDER BY [Project1].[MigrationId] DESC)

IF @CurrentMigration IS NULL
    SET @CurrentMigration = '0'

IF @CurrentMigration < '202010080741246_Initial'
BEGIN
    CREATE TABLE [dbo].[Configuration] (
        [Key] [nvarchar](128) NOT NULL,
        [Value] [nvarchar](max) NOT NULL,
        CONSTRAINT [PK_dbo.Configuration] PRIMARY KEY ([Key])
    )
    CREATE TABLE [dbo].[TestRun] (
        [Id] [int] NOT NULL IDENTITY,
        [Result] [float] NOT NULL,
        [Date] [datetime] NOT NULL,
        [Scenario_Id] [int],
        CONSTRAINT [PK_dbo.TestRun] PRIMARY KEY ([Id])
    )
    CREATE INDEX [IX_Scenario_Id] ON [dbo].[TestRun]([Scenario_Id])
    CREATE TABLE [dbo].[TestScenario] (
        [Id] [int] NOT NULL IDENTITY,
        [Name] [nvarchar](150) NOT NULL,
        [KPI] [float] NOT NULL,
        CONSTRAINT [PK_dbo.TestScenario] PRIMARY KEY ([Id])
    )
    CREATE UNIQUE INDEX [IX_Name] ON [dbo].[TestScenario]([Name])
    ALTER TABLE [dbo].[TestRun] ADD CONSTRAINT [FK_dbo.TestRun_dbo.TestScenario_Scenario_Id] FOREIGN KEY ([Scenario_Id]) REFERENCES [dbo].[TestScenario] ([Id])
    CREATE TABLE [dbo].[__MigrationHistory] (
        [MigrationId] [nvarchar](150) NOT NULL,
        [ContextKey] [nvarchar](300) NOT NULL,
        [Model] [varbinary](max) NOT NULL,
        [ProductVersion] [nvarchar](32) NOT NULL,
        CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY ([MigrationId], [ContextKey])
    )
END

IF @CurrentMigration < '202012021546539_TestConfiguration'
BEGIN
    EXECUTE sp_rename @objname = N'dbo.Configuration', @newname = N'Settings', @objtype = N'OBJECT'
    IF object_id('[PK_dbo.Configuration]') IS NOT NULL BEGIN
        EXECUTE sp_rename @objname = N'[PK_dbo.Configuration]', @newname = N'PK_dbo.Settings', @objtype = N'OBJECT'
    END
    CREATE TABLE [dbo].[TestConfiguration] (
        [Id] [int] NOT NULL IDENTITY,
        [Name] [nvarchar](150) NOT NULL,
        CONSTRAINT [PK_dbo.TestConfiguration] PRIMARY KEY ([Id])
    )
    CREATE UNIQUE INDEX [IX_Name] ON [dbo].[TestConfiguration]([Name])
    ALTER TABLE [dbo].[TestRun] ADD [Configuration_Id] [int]
    CREATE INDEX [IX_Configuration_Id] ON [dbo].[TestRun]([Configuration_Id])
    ALTER TABLE [dbo].[TestRun] ADD CONSTRAINT [FK_dbo.TestRun_dbo.TestConfiguration_Configuration_Id] FOREIGN KEY ([Configuration_Id]) REFERENCES [dbo].[TestConfiguration] ([Id])
END

